footer
  .container.text-center
    p.float-left © 2018 <a href="https://comanche.pp.ua">comanche</a>. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='//rkxtd.io') rkxtd
