extends layout

block content
  h1 comanche's learning group: rkxtd flipcards
  p.lead best way to prepare your self for a big software engineer interview.
  hr
  .row
    .col-md-12
      h2 07/21/2018 New Flip cards added
      p Today we added 192 new flipcards.
  .row
    .col-md-12
      h2 07/15/2018 New Categories added
      p So far we have 200 flipcards in our database. And number are growing every day.

      //p
      //  a.btn.btn-raised(href='#', role='button') View details »