extends layout

block content
  h1 Profile & Statistics
  hr
  .row
    .col-md-12
      h2 Number Of FlashCards we have so far:
      span#cards_value
        span.loading-dots
          span.loading-dots--dot
          span.loading-dots--dot
          span.loading-dots--dot
  if user
    .row
      .col-md-12
        h2 Number of FlashCards you marked as learned:
        span#learned_value
          span.loading-dots
            span.loading-dots--dot
            span.loading-dots--dot
            span.loading-dots--dot
    .row
      .col-md-12
        h2 Number of FlashCards you starred:
        span#favored_value
          span.loading-dots
            span.loading-dots--dot
            span.loading-dots--dot
            span.loading-dots--dot