extends layout

block content
  h1 Profile & Statistics
  hr
  .row
    .col-md-12
      h2 Number Of FlashCards we have so far:
      span#cards_value 0
  .row
    .col-md-12
      h2 Number of FlashCards you marked as learned:
      span#learned_value 0
  .row
    .col-md-12
      h2 Number of FlashCards you starred:
      span#favored_value 0