@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/fa-brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/fa-regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/fa-solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
  margin-left: 15px;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */


.answer, #editor, #first-editor, #second-editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}
.answer:focus, #editor:focus{
  border-color:rgba(82, 168, 236, 0.8);
  outline:0;
  outline:thin dotted \9;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
.btn-toolbar {
  padding: 10px 0px 10px 0px;
}

[contentEditable=true]:empty:not(:focus):before {
  content:attr(data-placeholder)
}

.placeholderText {
  color: #777;
}

.imgUpload
{
  width: 0;
  height: 0;
  position:absolute
}

/*
	Font Sizes
	fs represents the font-size attribute; therefore,
	fs-five would be the equivalent to font-size: 5;
*/

.fs-One {
  font-size: x-small;
}

.fs-Three {
  font-size: medium;
}

.fs-Five {
  font-size: x-large;
}

/* Font Color */

/* Black */
a[data-edit="foreColor #000000"]::before {
  content: "\f0c8  ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  top: 10px;
  left: 0;
}

/* Blue */
a[data-edit="foreColor #0000FF"]::before,
a[data-edit="backColor #00FFFF"]::before {
  content: "\f0c8  ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #0000FF;
  font-size: 18px;
  top: 10px;
  left: 0;
}

/* Green */
a[data-edit="foreColor #30AD23"]::before,
a[data-edit="backColor #00FF00"]::before {
  content: "\f0c8  ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #30AD23;
  font-size: 18px;
  top: 10px;
  left: 0;
}


/* Orange */
a[data-edit="foreColor #FF7F00"]::before,
a[data-edit="backColor #FF7F00"]::before {
  content: "\f0c8  ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #FF7F00;
  font-size: 18px;
  top: 10px;
  left: 0;
}

/* Red */
a[data-edit="foreColor #FF0000"]::before,
a[data-edit="backColor #FF0000"]::before {
  content: "\f0c8  ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #FF0000;
  font-size: 18px;
  top: 10px;
  left: 0;
}

/* Yellow */
a[data-edit="foreColor #FFFF00"]::before,
a[data-edit="backColor #FFFF00"]::before  {
  content: "\f0c8  ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #FFFF00;
  font-size: 18px;
  top: 10px;
  left: 0;
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: center;
  width: 100%;

  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;

    &:nth-child(2) {
      animation-delay: .5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}